* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: url(/assets/43060.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ffd700;
  overflow: hidden;
}

header {
  padding-top: 5vh;
  height: 10vh;
  background-color: transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80%;
      grid-template-columns: 10% 80%;
}

header #logo {
  height: 15vh;
  width: 7.5vw;
  background: url(/assets/chef.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 2vw;
  margin-top: -3vh;
}

header #navMenu {
  position: relative;
  height: 10vh;
  width: 90vw;
}

header #navMenu #formSpan form {
  position: absolute;
  right: 38vw;
}

header #navMenu #formSpan form input {
  width: 0;
  height: 3vh;
  background-color: #c4b2b2;
  color: #201e1e;
  border: none;
  border-radius: 30px;
  padding-left: 4vw;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: not-allowed;
}

header #navMenu #formSpan form input:hover {
  color: #201e1e;
  background-color: #a8a5a0;
  outline: none;
}

header #navMenu #formSpan form button {
  height: 1vw;
  width: 1vw;
  background: url(/assets/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
}

header #navMenu #formSpan form #buttonPlaceHolder {
  height: 1vw;
  width: 1vw;
  background: url(/assets/search.svg) no-repeat center/100%;
  display: inline-block;
  cursor: pointer;
}

header #navMenu a {
  text-decoration: none;
  color: black;
  margin-left: 1.5vw;
  font-weight: 500;
  font-size: 1.125vw;
  font-family: "Fira Sans", sans-serif;
}

header #navMenu a:hover {
  border-bottom: 2px solid gold;
}

header #navMenu #SignIn {
  margin-right: 2vw;
  background-color: #49b81d;
  color: white;
  padding: 1vh 1.5vw 1vh 1.5vw;
  margin-left: 2vw;
}

#navLinksSpan {
  position: absolute;
  right: 0;
}

#contentBody {
  height: 45vh;
  position: relative;
}

#contentBody h1 {
  position: absolute;
  top: 20vh;
  margin-left: 5vw;
  font-family: "Fira Sans", sans-serif;
  font-size: 10vh;
  color: #202020;
}

#contentBody p {
  position: absolute;
  min-width: 20vw;
  max-width: 40vw;
  margin-left: 5vw;
  top: 35vh;
  font-family: 'Bree Serif', serif;
  font-size: 6vh;
  color: #202020;
}

#contentBody a {
  position: absolute;
  top: 70vh;
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  background-color: #49b81d;
  padding: 2vh 4vw 2vh 4vw;
  font-weight: 500;
  font-size: 26px;
  font-family: "Fira Sans", sans-serif;
}

#contentBody a:hover {
  border-bottom: 2px solid gold;
}

#resultPage {
  height: 0vh;
  width: 0vw;
  margin-left: 10vw;
  margin-top: 10vh;
  background: gold;
  position: fixed;
  top: 0;
}

#resultPage #closePage {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  color: white;
  z-index: 1;
  font-size: 7vh;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

#resultPage ul {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2vw;
  margin-top: 5vh;
  height: 70vh;
  width: 30vw;
}

#resultPage ul li {
  margin-left: 2vw;
  color: #000000;
  font-size: 3vh;
}

@media screen and (max-width: 2080px) {
  #logo {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */