*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Firafonts: 'Fira Sans', sans-serif;

body{
  height: 100vh;
  width: 100vw;
  background-color: #ffd700;
  overflow: hidden;
}
#bodyDiv{
  height: 100vh;
  width: 100vw;
  background: url(/assets/43060.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

header{
  padding-top: 5vh;
  height: 10vh;
  background-color: transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: grid;
  grid-template-columns: 10% 80%;
  #logo{
    height: 15vh;
    width: 7.5vw;
    background: url(/assets/chef.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 2vw;
    margin-top: -3vh;
  }
  #navMenu{
    position: relative;
    height: 10vh;
    width: 90vw;
    #formSpan{
      // position: relative;
      form{
        position: absolute;
        right: 38vw;
        input{
          width: 0;
          height: 3vh;
          background-color: rgb(196, 178, 178);
          color: rgb(32, 30, 30);
          border: none;
          border-radius: 30px;
          padding-left: 4vw;
          transition: all 1s;
          cursor: not-allowed;
          &:hover{
            color: rgb(32, 30, 30);
            background-color: rgb(168, 165, 160);
          }
        }
        button{
          height: 1vw;
          width: 1vw;
          background:url(/assets/search.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          border: none;
          cursor: pointer;
        }
      }

      #Cancel{
        height: 10px;
        width: 10px;
        cursor: pointer;
        background: url(/assets/cancel.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
    a{
      text-decoration: none;
      color: black;
      margin-left: 1.5vw;
      font-weight: 500;
      font-size: 1.125vw;
      font-family: $Firafonts;

      &:hover{  
        border-bottom: 2px solid gold;
      }
    } 
    #SignIn{
      margin-right: 2vw;
      background-color: rgb(73, 184, 29);
      color: white;
      padding: 1vh 1.5vw 1vh 1.5vw;
      margin-left: 2vw;
    }
  }
}

#navLinksSpan{
  position: absolute;
  right: 0;
}

section{
  // background-color: rgb(73, 184, 29);
  height: 45vh;
  position: relative;

  h1{
    position: absolute;
    top: 20vh;
    margin-left: 5vw;
    font-family: $Firafonts;
    font-size: 10vh;
    color: rgb(32, 32, 32);
  }

  p{
    position: absolute;
    min-width: 20vw;
    max-width: 40vw;
    margin-left: 5vw;
    top: 35vh;
    font-family: 'Bree Serif', serif;
    font-size: 6vh;
    color: rgb(32, 32, 32);
  }

  a{
    position: absolute;
    top: 70vh;
    margin-left: 5vw;
    text-decoration: none;
    color: white;
    background-color:rgb(73, 184, 29);
    padding: 2vh 4vw 2vh 4vw;
    font-weight: 500;
    font-size: 26px;
    font-family: $Firafonts;
    &:hover{  
      border-bottom: 2px solid gold;
    }
  }
}